.navbar-background {
    background: #0D19A3;
    background-image: url('https://i.pinimg.com/564x/55/e3/18/55e318c915636d86578cbefb227e388d.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
  }